global
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    #option http-server-close
    #option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

backend www.super.com
	server 10.0.10.1 weight 20 maxconn 30
	server 10.0.10.2 weight 999 maxconn 20

backend www.super1.com
    server 10.0.10.1 weight 20 maxconn 30
    server 10.0.10.2 weight 999 maxconn 20
    server 10.0.10.3 weight 999 maxconn 20

backend www.super2.com
    server 10.0.10.2 weight 20 maxconn 21
    server 10.0.10.200 weight 100 maxconn 100
    server 10.0.10.3 weight 20 maxconn 21
backend www.super20.com
	server 10.0.0.10 10.0.10.10 weight 20 maxconn 21